<div class="surface-card border-1 surface-border border-round">
    <div class="p-4">
        <p-steps [model]="steps" [readonly]="false" [(activeIndex)]="activeIndex">
        </p-steps>
    </div>
    <div class="p-4">
        <ng-container *ngIf="activeIndex === 0">
            <app-step-one (changeStep)="changeStep($event)"></app-step-one>
        </ng-container>
    
        <ng-container *ngIf="activeIndex === 1">
            <app-project-form (formSubmitted)="completeStep($event)"></app-project-form>
        </ng-container>
    
        <ng-container *ngIf="activeIndex === 2">
            <p>Third</p>
        </ng-container>
    </div>
</div>