<ng-container *ngIf="(project$ | async) as project">
    <ul class="m-0 border-bottom-1 surface-border list-none p-3 surface-ground flex font-medium">
        <li class="relative pr-1"><a routerLink="/projects" class="cursor-pointer no-underline">Projects</a></li>
        <span class="relative px-1 text-500">></span>
        <span class="relative px-1 text-500">{{project.id}}</span>
    </ul>
    <div class="p-4 xl:p-6 flex align-items-center justify-content-between">
        <h1 class="m-0">{{project.name}}</h1>
        <button pButton pRipple (click)="editProject(project)">Edit Project</button>
    </div>
    <div class="p-4 xl:p-6">
        <pre>{{project | json}}</pre>
    </div>
</ng-container>