@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: var(--surface-900);
    margin: 0;
    padding: 0;
}

.text-error {
    color: red;
}

.custom-paginator .ngx-pagination .current {
    background: #acd8ff;
    color: darkblue;
    border-radius: 4px;
    padding: 0;
}